@model Safespot.Service.DTO.ParkingZone.ParkingZoneForDetailsDto

<h4>ParkingZoneForDetailsDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FreeSlot" class="control-label"></label>
                <input asp-for="FreeSlot" class="form-control" />
                <span asp-validation-for="FreeSlot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EconomSlot" class="control-label"></label>
                <input asp-for="EconomSlot" class="form-control" />
                <span asp-validation-for="EconomSlot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessSlot" class="control-label"></label>
                <input asp-for="BusinessSlot" class="form-control" />
                <span asp-validation-for="BusinessSlot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Region" class="control-label"></label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="District" class="control-label"></label>
                <input asp-for="District" class="form-control" />
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoogleMapUrl" class="control-label"></label>
                <input asp-for="GoogleMapUrl" class="form-control" />
                <span asp-validation-for="GoogleMapUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AllParkingZones">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
